# Databse configuration
DATABASE_URL="postgres://postgres:postgres@localhost:5432/better-auth"
DIRECT_URL="postgres://postgres:postgres@localhost:5432/better-auth"

# Better Auth configuration
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"

# Resend configuration
RESEND_API_KEY=""
RESEND_FROM_EMAIL=""

# Next.js configuration
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# MinIO configuration
MINIO_PORT="9000"
MINIO_CONSOLE_PORT="9001"
MINIO_ROOT_USER="admin"
MINIO_ROOT_PASSWORD="admin"
MINIO_SERVER_URL="localhost"
MINIO_USE_SSL="false"
MINIO_BROWSER_REDIRECT_URL="localhost"
MINIO_REGION="us-east-1"
MINIO_BUCKET_NAME="public-assets"

# Admin Whitelist (Comma-separated emails)
ADMIN_EMAILS="admin@example.com,user@example.com"

# Polar
POLAR_ACCESS_TOKEN=""
POLAR_ORGANIZATION_ID=""
POLAR_ENVIRONMENT="sandbox" 
POLAR_WEBHOOK_SECRET=""

# Resend
RESEND_API_KEY=""
RESEND_FROM_EMAIL=""